.login {
  @include light-blue-border;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 400px;
  padding: 30px;
  width: 100%;

  &__logo {
    margin-bottom: 40px;
    max-width: 350px;
    width: 100%;
  }

  &__group {
    display: flex;
    flex-direction: column;
    width: 100%;
    &__input {
      border-radius: $form-border-radius;
      height: 30px;
      margin: 5px 0 20px 0;
    }

    &__label {
      font-size: 16px;
      font-weight: 500;
    }
  }

  &__button {
    @include form-button(transparent, $green, $form-border-radius, $green, 20px, 40px, inherit);
    margin: 20px 0;
    &.fill {
      background-color: $green;
      color: $white;

      &::before {
        border-bottom: 2px solid $dark-grey;
        bottom: -25px;
        content: '';
        position: absolute;
        width: 100%;
      }
    }
  }
}
