@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
@import 'colors';
@import 'mixins';
* {
  font-family: 'Roboto', sans-serif;
}

.container {
  align-items: center;
  background-color: $soft-grey;
  display: flex;
  flex-direction: column;
  width: 100%;
}
