<div class="container">
  <div class="search-bar">
    <input
      #searchBar
      type="text"
      class="search-bar__input"
      placeholder="Buscar por titulo del libro..."
      [(ngModel)]="searchTitle"
    />
    <img src="assets/search-icon.svg" alt="search icon" class="search-bar__icon" />
  </div>

  <div class="book-list">
    <a
      [routerLink]="['/books', book.id]"
      class="book-link"
      *ngFor="let book of books | searchPipe: searchTitle; trackBy: trackBook"
    >
      <div class="book">
        <img [src]="book.image_url" alt="book cover" class="book__cover" />
        <div class="book__info">
          <h3 class="book__info__title">{{ book.title }}</h3>
          <h4 class="book__info__author">{{ book.author }}</h4>
        </div>
        <button class="book__plus" (click)="addToCart(book)"></button>
      </div>
    </a>
  </div>
</div>
