@import '../../../../../scss/variables';
@import '../../../../../scss/mixins';
@import '../../../../../scss/global-classes';
@import '../../../../../scss/colors';

.search-bar {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  position: relative;

  &__input {
    border: 2px solid $soft-grey;
    border-radius: $form-border-radius;
    font-size: 25px;
    height: 70px;
    padding: 15px;
    width: 700px;
  }

  &__icon {
    background-color: $white;
    height: 60px;
    position: relative;
    right: 50px;
    width: 35px;
  }
}

.book {
  @include card-shadow;
  display: flex;
  flex-direction: column;
  padding: 32px 32px 20px;
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }

  &-link {
    max-width: 280px;
    width: 100%;

    &:nth-child(n) {
      margin: 0 40px 40px 0;
    }
    &:nth-child(4n) {
      margin-right: 0;
    }
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 40px 0;
    max-width: $desktop-width;
  }

  &__cover {
    margin-bottom: 10px;
    max-height: 255px;
  }

  &__info {
    display: flex;
    flex-direction: column;

    &__author {
      @extend %content;
    }

    &__title {
      @extend %title;
      font-size: 20px;
      line-height: 2;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
