@import '../../../../../scss/variables';
@import '../../../../../scss/mixins';
@import '../../../../../scss/global-classes';
@import '../../../../../scss/colors';

.search-bar {
  display: flex;
  justify-content: center;
  position: relative;
  width: fit-content;

  &__input {
    border: 2px solid $soft-grey;
    border-radius: $form-border-radius;
    font-size: 25px;
    margin: 5px 0 20px 0;
    padding: 15px;

    width: 700px;
  }

  &__icon {
    position: absolute;
    right: 30px;
    top: 15px;
    transition: all 0.2s ease-in-out;
    width: 35px;
  }
}

.book {
  @include card-shadow;
  display: flex;
  flex-direction: column;
  padding: 32px;
  position: relative;
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }

  &-link {
    max-width: 280px;
    width: 100%;

    &:nth-child(n) {
      margin: 0 40px 40px 0;
    }
    &:nth-child(4n) {
      margin-right: 0;
    }
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 40px 0;
    max-width: $desktop-width;
    width: 100%;
  }

  &__cover {
    margin-bottom: 10px;
    max-height: 255px;
  }

  &__info {
    display: flex;
    flex-direction: column;

    &__author {
      @extend %content;
    }

    &__title {
      @extend %title;
      font-size: 20px;
      line-height: 2;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &__plus {
    background-color: $green;
    border-radius: 20px;
    bottom: 10px;
    height: 40px;
    position: absolute;
    right: 10px;
    transition: all 0.2s ease-in-out;
    width: 40px;

    &::before {
      background: url('/assets/plus.svg') center/cover;
      content: '';
      height: 24px;
      left: 8px;
      position: absolute;
      top: 8px;
      width: 24px;
    }

    &:hover {
      background-color: $light-blue;
      transform: scale(1.1);
    }
  }
}
