@import '../../../../../scss/variables';
@import '../../../../../scss/mixins';

.nav {
  @include card-shadow;
  @include light-blue-border;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  &__content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: $desktop-width;
    padding: 0 30px;

    &__logo {
      width: 20%;
    }

    &__right {
      align-items: center;
      display: inline-flex;

      .auth {
        font-size: 20px;
      }

      .shopping-cart {
        display: flex;
        margin-right: 40px;
        position: relative;

        &::before {
          background: url('/assets/shopping-cart.png') center/cover;
          content: '';
          height: 28px;
          width: 28px;
        }
        &__counter {
          align-items: center;
          background-color: $light-blue;
          border-radius: 50%;
          color: $white;
          display: flex;
          font-size: 12px;
          height: 18px;
          justify-content: center;
          position: absolute;
          right: -8px;
          top: -8px;
          width: 18px;
        }
      }
    }
  }
}
