@import '../../../../../scss/colors';

.modal {
  background-color: $white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  left: 25%;
  max-height: 900px;
  padding: 40px;
  position: fixed;
  top: 25%;
  width: 900px;
  z-index: 2;

  &__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    &__title {
      font-size: 40px;
    }

    &__close {
      height: 30px;
      width: 30px;

      &::before {
        background: url('/assets/close.png') center/cover;
        content: '';
        height: 30px;
        position: absolute;
        width: 30px;
      }
    }
  }

  &__book {
    align-items: center;
    border-bottom: 2px solid $dark-grey;
    display: flex;
    justify-content: space-between;
    padding: 28px 0;

    &-list {
      display: flex;
      flex-direction: column;
      padding: 30px;
    }

    &__title {
      font-size: 28px;
    }

    &__delete {
      height: 30px;
      width: 30px;

      &::before {
        background: url('/assets/trash.svg') center/cover;
        content: '';
        height: 30px;
        position: absolute;
        width: 30px;
      }
    }
  }
}

.shadow {
  background: $soft-black;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}
