<div class="container">
  <form [formGroup]="signUpForm" class="register" (ngSubmit)="onSignUpSubmit()">
    <img src="assets/LogoWolox.png" alt="Wolox logo" class="login__logo" />
    <div class="register__group" *ngFor="let item of signUpItems">
      <label [for]="item.id" class="register__group__label">{{ item.label }}</label>
      <input
        [formControlName]="item.id"
        [type]="item.type"
        [id]="item.id"
        [name]="item.id"
        [ngClass]="{
          register__group__input: true,
          invalid: signUpForm.get(item.id).invalid && signUpForm.get(item.id).touched
        }"
      />
      <small
        class="register__group__error"
        *ngIf="signUpForm.get(item.id).invalid && signUpForm.get(item.id).touched"
        >{{ item.error }}</small
      >
    </div>
    <button [disabled]="signUpForm.invalid" type="submit" class="register__button fill">
      Sign Up
    </button>
    <a [routerLink]="['/login']" class="register__button unfill">Login</a>
  </form>
</div>
