@import '../../../../../scss/variables';
@import '../../../../../scss/mixins';
@import '../../../../../scss/colors';
@import '../../../../../scss/global-classes';

.container {
  &__wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: $desktop-width;
    width: 100%;

    @media screen and (max-width: $mobile-width) {
      flex-direction: column-reverse;
    }
  }
}

.back-button {
  align-self: flex-start;
  font-size: 25px;
  margin: 0 0 40px 40px;

  @media screen and (max-width: $mobile-width) {
    align-self: center;
    font-size: 20px;
    margin: 20px 0 0 0;
  }

  &::before {
    background: url('/assets/back-arrow-20.png') center/22px no-repeat;
    content: '';
    padding-right: 32px;
    position: relative;

    @media screen and (max-width: $mobile-width) {
      background-size: 20px;
    }
  }
}

.detail {
  @include card-shadow;
  align-self: center;
  animation: fadeIn ease-in-out 0.5s;
  display: grid;
  gap: 10px 40px;
  grid-template: 60px 1fr / 1fr auto 1fr;
  grid-template-areas:
    'cover title genre'
    'cover info info';
  max-width: 960px;
  padding: 50px;
  position: relative;
  width: 100%;

  @media screen and (max-width: $tablet-width) {
    column-gap: 30px;
    grid-template: 40px 30px 1fr / 1fr 2fr;
    grid-template-areas:
      'title title'
      'genre genre'
      'cover info';
    max-width: 85%;
    padding: 30px;
  }

  @media screen and (max-width: $mobile-width) {
    grid-template: 25px 2fr 20px 1fr / 1fr;
    grid-template-areas:
      'title'
      'cover'
      'genre'
      'info';
    margin-top: 30px;
    max-width: 90%;
    padding: 16px;
    row-gap: 20px;
  }
  &.badge {
    &::before {
      background: url('/assets/badge.png') top no-repeat;
      @include badge-position($badge-width, 0, 170px);
      content: '';
      min-height: 100%;
      position: absolute;
      transform: rotate(15deg);
      width: $badge-width;

      @media screen and (max-width: $tablet-width) {
        @include badge-position(calc(#{$badge-width} - 30%), 100px, 100px);
      }

      @media screen and (max-width: $mobile-width) {
        @include badge-position(calc(#{$badge-width} - 50%), 40px, 140px);
      }
    }
  }

  &__cover {
    grid-area: cover;
    max-width: 300px;
    width: 100%;

    @media screen and (max-width: $mobile-width) {
      justify-self: center;
      max-width: 180px;
    }
  }

  &__genre {
    @extend %content;
    font-size: 30px;
    font-weight: 600;
    grid-area: genre;

    @media screen and (max-width: $tablet-width) {
      font-size: 25px;
      justify-self: center;
      padding-left: 0;
    }

    @media screen and (max-width: $mobile-width) {
      font-size: 18px;
    }
  }

  &__title {
    @extend %title;
    border-bottom: 4px solid $green;
    font-size: 35px;
    grid-area: title;

    @media screen and (max-width: $tablet-width) {
      border: none;
      font-size: 30px;
      justify-self: center;
    }

    @media screen and (max-width: $mobile-width) {
      font-size: 25px;
    }
  }

  &__info {
    align-self: center;
    display: flex;
    flex-direction: column;
    grid-area: info;
    width: 100%;

    @media screen and (max-width: $mobile-width) {
      align-self: flex-start;
      border-top: 4px solid $green;
    }

    &__item {
      padding: 20px 0;

      @media screen and (max-width: $tablet-width) {
        padding: 16px 0;
      }

      @media screen and (max-width: $mobile-width) {
        padding: 12px 0;
      }

      .content {
        @extend %content;
        padding-left: 4px;
      }

      .title {
        @extend %title;
      }

      .content,
      .title {
        font-size: 25px;

        @media screen and (max-width: $tablet-width) {
          font-size: 20px;
        }

        @media screen and (max-width: $mobile-width) {
          font-size: 16px;
        }
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
